{% extends 'admin_panel/doctor_base.html' %}

{% block body_block %}

<h1>Doctor Information</h1>

<h4>Doctor Name: {{doctor_info.doctor_name}}</h4>
<h4>Doctor Email: {{doctor_info.doctor_email}}</h4>
<h4>Doctor Password: {{doctor_info.doctor_password}}</h4>
<h4>Doctor Gender: {{doctor_info.doctor_gender}}</h4>
<h4>Doctor Visiting Hour: {{doctor_info.doctor_visitng_hour}}</h4>
<h4>Doctor Room Number: {{doctor_info.doctor_room_number}}</h4>

<a href="{% url 'admin_panel:doctor_update' doctor_id=doctor_info.id %}" class="btn btn-primary">Update</a>
<a href="{% url 'admin_panel:doctor_delete' doctor_id=doctor_info.id %}" class="btn btn-primary">Delete</a>

{% endblock body_block %}