<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Login</h1>
</head>
<body>
    <form action="doctor_login" method="POST">
        {% csrf_token %}

        <input type="text" name="doctor_name" placeholder="doctor_name"><br>
        <input type="password" name="doctor_password" placeholder="doctor_password"><br>
        <input type="submit">

    </form>
    
</body>
</html>
