<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">


{% extends 'home/home.html' %} {% block body_block %}

<div class = 'container text-center'  >

<h2>Patient Lists</h2>
<!--Patient_Lists-->

<ul>
    {% if patient_list %} {% for patient in patient_list %}>
    <li><a href="{% url 'patient:patient_profile' patient_id=patient.id %}"> {{patient.patient_name}}</li> </a> {% endfor %} {% else %}
        <h3>No Patient</h3>
        {% endif %}
</ul>
{% endblock %}

</div>
